/* =================
    Description
================= */

.description{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "description1"
        "description2";

    .description1{
        grid-area: description1;
        display: grid;
        background-color: $green-4;
        font-family: 'mohave', sans-serif;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "text img";
            
        .text{
            grid-area: "text";
            padding-left: 16px;
            margin-bottom: 21px;

            .anna{
                font-weight: 700;
                font-size: 18pt;
        
            }
            
            .tabby{
                font-weight: 400;
                font-size: 16pt;
            }
        }    
           
        .details{
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: $green-4;

            .img{
                grid-area: "img";
                width: 10px;
                
            } 
        }
    }

    .description2{
        grid-area: description2;
        display: grid;
        background-color: $green-3;
        font-family: 'mohave', sans-serif;
        grid-template-areas: "text img";

        .text{
            grid-area: "text";
            padding-left: 16px;
            padding-bottom: 21px;
    
            .location{
                font-weight: '400';
                font-size: 16pt;
            }

            .price{
                font-weight: 400;
                font-size: 16pt;
            }
        } 
        
        .details{
            margin-top: 20px;
            margin-bottom: 20px;

            padding-left: 10px;
            padding-right: 10px;
            background-color: $green-3;

            .img{
                grid-area: "img";
                width: 10px;
            } 
        }
    }
}
