/* =================
    Description
================= */

.description{

    display: grid;

    .description1{
        display: grid;
        grid-template-columns: 100%;
        background-color: $green-4;
        font-family: 'mohave', sans-serif;
        
        .anna{
            font-weight: 700;
            font-size: 18pt;
        }

        .tabby{
            font-weight: 400;
            font-size: 16pt;
        }
        
        .details1{
            font-weight: 400;
            font-size: 18pt;
        }
    }

    .description2{
        display: grid;
        grid-template-columns: 100%;
        background-color: $green-3;
        font-family: 'mohave', sans-serif;

        .location{
            font-weight: '400';
            font-size: 16pt;
        }

        .price{
            font-weight: 400;
            font-size: 16pt;
        }

        .details2{
            font-weight: 400;
            font-size: 18pt;
        }
    }
}
