

.gallery{
    
    @include md{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "hero2 hero3";
        gap: 16px;
    }
    .hero2{
        grid-area: "hero2";

        .img{
            width: 100%;

        }   
    
    }   
    
    .hero3{
        grid-area: "hero3";

        .anna3{
            width: 100%;
        }
        
    }
}
