

.gallery{
    width: 100%;
   
    .hero2{
        .img{
            width: 100%;

        }   
    
    }   
    
    .hero3{
    
        .anna3{
            display: block;
            width: 100%;

            .img{
                width: 100%;
            }
        }
        
        @include xl{
            
        }
    }
}
