

.gallery{
    display: block;
    
    
    .hero2{
        .img{
            display: block;
            width: 100%;

        }   
    
    }   
    
    .hero3{
    
        .anna3{
            display: block;
            width: 100%;
        }
        
        @include xl{
            
        }
    }
}
