



.hero1{

    display: grid;
    grid-template-columns: 100% ;
    
    img{
        width: 320px;
        height: 255px;
        display: block; //is for images so there isnt any weird spacing
    }   
}  