


.planning{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: $green-2;
   grid-template-areas: 
   "planning anna3" 
   "button";
    padding: 16px;
    margin-top: 16px;

    .planning-p{
        .p{
            font-weight: 400;
            font-size: 22pt;
        }
        .button{
            background-color: $green-1;
            border: none;
            font-size: 14px;
            font-weight: 700px;
            width: 92px;
            padding-left: 11px;
            padding-top: 13px;
            padding-right: 28px;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }
    .anna2{
        width: 100%;
        
    }
    
}