/* ===========
    Search
=========== */

.search{
    display: grid;
    grid-template-columns: 80% 20% ;
    grid-template-areas: 
    "h2 searchicon"
    ;

    .h2{
        color: $light-gray;
        font-size: 16px;
        grid-area: "h2";
    }
    
    .searchicon{
        width: 43px;
        height: 34px;
        grid-area: "searchicon";
    }
}