/* ===========
    Search
=========== */

.search{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-template-areas: 
    "searchinput searchicon";
    color: $light-gray;
    padding-left: 16px;

    .search-input{
        grid-area: "searchinput";

        margin-left: 16px;
        margin-top: 28px;
    }
    
    .search-icon-button{
        grid-area: "searchicon";
        margin-top: 6px;
        margin-right: 17px;
        margin-bottom: 14px;
    }
}