
.supplies{
    display: grid;
    grid-template-columns: 100%;
    padding-left: 19px;
    padding-top: 28px;
    padding-bottom: 68px;
    padding-right: 179px;

    .order-here{
        display: grid;
        grid-template-columns: 100%;
        padding-left: 13px;
        padding-top: 7px;
        padding-bottom: 9px;
        padding-right: 33px;
    }
}
