section{
    image{
        width: 100%;
    }
    font-family: 'mohave', sans-serif;

    #whats-mew {
        font-weight: 400;
        font-size: 20pt;
        color: $gray;
        margin-left: 16px;
    }

    #all_articles {
    
        ul{
            display: grid;
            gap: 16px;
            grid-template-rows: repeat(5, auto);

            @include md{
                grid-area: card;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                    "c1 c1 c2 c2"
                    "c3 c3 c4 c4"
                    ". c5 c5 .";
            }

            @include lg{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                    "c1 c1 c2 c2 c3 c3" 
                    ". c4 c4 c5 c5 .";
            }
            #c1{
                background-color: $green-1;
                padding: 16px;

                @include md {
                grid-area: "c1";

                }
            }
            #c2{
                background-color: $green-1;
                padding: 16px;

                @include md {
                grid-area: "c2";

                }
            }
            #c3{
                background-color: $green-1;
                padding: 16px;

                @include md {
                grid-area: "c3";

                }
            }
            #c4{
                background-color: $green-1;
                padding: 16px;

                @include md {
                grid-area: "c4";

                }
            }
            #c5{
                background-color: $green-1;
                padding: 16px;

                @include md {
                grid-area: "c5";

                }
            }

        }
        


    }

}