
.whats-new{

        .article-grid{
            display: grid;
            grid-template-columns: 100%;
            gap: 15px;

            .article-1{

                .anna7{
                    width: 100%;
                }

                content{

                    button{
                        background-color: $green-3;
                        border: none;
                        font-size: 14px;
                        font-weight: 700px;
                    }
                }

            }

            .article-2{

                .anna8{
                    width: 100%;
                }

                content{

                    Button{
                        background-color: $green-3;
                        border: none;
                        font-size: 14px;
                        font-weight: 700px;
                    }
                }
            }

            .article-3{

                .anna9{
                    width: 100%;
                }

                content{

                    Button{
                        background-color: $green-3;
                        border: none;
                        font-size: 14px;
                        font-weight: 700px;
                    }
                }
            }
           
            .article-4{

                .anna10{
                    width: 100%;
                }

                content{

                    Button{
                        background-color: $green-3;
                        border: none;
                        font-size: 14px;
                        font-weight: 700px;
                    }
                }
            }

            .article-5{

                .anna11{
                    width: 100%;
                }

                content{

                    Button{
                        background-color: $green-3;
                        border: none;
                        font-size: 14px;
                        font-weight: 700px;
                    }
                }
            }

            @include sm{
                grid-template-columns: 100%;
                
            }
            @include md{
            

            }
            @include lg{
                grid-template-columns: repeat(6,1fr);
                grid-template-areas: 
                "a1 a1 a2 a2 a3 a3";
            }
            @include xl{

            }
        }

}