
.whats-new{

        display: grid;
        grid-template-columns: 100%;
        font-family: 'mohave', sans-serif;

        .whats-mew{
            font-weight: 400;
            font-size: 20pt;
            color: $gray;
        }
        .articles{
            display: grid;
            grid-template-columns: 100%;

            .article-1{
                background-color: $green-1;
                .anna7{
                    width: 100%;
                }
                .h3{
                    font-size: 27pt;
                    font-weight: 700;
                }
                .p{
                    font-size: 16pt;
                    font-weight: 400;
                }
                button{
                    background-color: $green-3;
                    border: none;
                    font-size: 14px;
                    font-weight: 700px;
                }
            }

            .article-2{
                background-color: $green-1;
                .anna8{
                    width: 100%;
                }
                .h3{
                    font-size: 27pt;
                    font-weight: 700;
                }
                .p{
                    font-size: 16pt;
                    font-weight: 400;
                }
                button{
                    background-color: $green-3;
                    border: none;
                    font-size: 14px;
                    font-weight: 700px;
                }
            }

            .article-3{
                background-color: $green-1;
                .anna9{
                    width: 100%;
                }

                .h3{
                    font-size: 27pt;
                    font-weight: 700;
                }
                .p{
                    font-size: 16pt;
                    font-weight: 400;
                }
                button{
                    background-color: $green-3;
                    border: none;
                    font-size: 14px;
                    font-weight: 700px;
                }
            }
           
            .article-4{
                background-color: $green-1;
                .anna10{
                    width: 100%;
                }

                .h3{
                    font-size: 27pt;
                    font-weight: 700;
                }
                .p{
                    font-size: 16pt;
                    font-weight: 400;
                }
                button{
                    background-color: $green-3;
                    border: none;
                    font-size: 14px;
                    font-weight: 700px;
                }
            }

            .article-5{
                background-color: $green-1;
                .anna11{
                    width: 100%;
                }

                .h3{
                    font-size: 27pt;
                    font-weight: 700;
                }
                .p{
                    font-size: 16pt;
                    font-weight: 400;
                }
                button{
                    background-color: $green-3;
                    border: none;
                    font-size: 14px;
                    font-weight: 700px;
                }
            }

            @include sm{
                grid-template-columns: 100%;
                
            }
            @include md{
            

            }
            @include lg{
                grid-template-columns: repeat(6,1fr);
                grid-template-areas: 
                "a1 a1 a2 a2 a3 a3";
            }
            @include xl{

            }
        }

}