/* =============
    Footer
============= */


.footer{

    background-color{ $green-4: #97A97C }

    .content{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "logo copyright"
        "logo"
    }
}