/* =============
    Header
============= */

.header{

    display: grid;
    grid-template-columns: auto;
    background-color: $green-4;
    gap: 6px;

    .logo{
        
        .h1{
            font-size: 32px;
            color: $green-1;
        }
       
    }
}

