/* =============
    Header
============= */

.header{
    background-color: $green-4;
        
    .logo{
        display: grid;
        grid-template-columns: 60px 58px ;
        grid-template-areas: 
        "logo cats";
        gap: 6px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        
        .group3{
        
            grid-area: "logo";
            width: 60px;
            height: 60px;
            
        }
    }

    .cats{
        display: grid;
        grid-template-columns: 60px 58px ;
        grid-template-areas: 
        "logo cats";
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: $green-1;

        .p{
            gap: 6px;
            grid-area: "cats";
            font-size: 32px;
            
        }
            
        
    }
}

